.edit-delivered-date-input {
	display: inline-block;
	width: 130px;
	text-align: center;
	height: 1.2rem;
    border: 1px solid hsl(168, 35%, 20%);
	border-radius: 3px;
}

.save-updated-delivered-date {
	margin-left: 1rem;
	cursor: pointer;
	background-color: hsl(168, 35%, 20%);
	color: white;
	padding: 3px;
	display: none;
}