.order-information {
	position: relative;

	h6 {
		margin-left: 0.5rem;
		margin-bottom: 0.5rem;
		font-size: 0.65rem;
	}

	h4 {
		margin-bottom: 0.5rem;
		text-align: center;
	}

	h5 {
		margin-bottom: 0.5rem;
	}

	.outstanding {
		color: orange;
	}
	.delete-order-button-wrapper {
		width: 80%;
		color: red;
		border: 1px solid #10171e;
		margin: 0.5rem auto;
		border-radius: 15px;
		background-color: #e7bf72;
		cursor: pointer;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5rem;

		.delete-order-button {
			width: 130px;
			text-align: center;
			position: relative;
			pointer-events: none;

			.delete-order-confirmation {
				width: 20px;
				height: 20px;
				background: conic-gradient(#10171e 0deg, #e7bf72 0deg);
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: -20%;
				transform: translateY(-50%);
				cursor: auto;

				.delete-order-confirmation-inner-circle {
					width: 15px;
					height: 15px;
					background-color: #e7bf72;
					border-radius: 50%;
				}
			}
		}
	}
}
