* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: hsl(220, 11%, 95%);
}

.coming-soon {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

.app {
    position: relative;
}