.add-order-wrapper {
	margin-bottom: 0.5rem;
	position: relative;
	z-index: 5;
	font-family: "Poppins", sans-serif;

	.add-order-button {
		height: 56.6px;
		width: 100%;
		background-color: hsl(168, 35%, 20%);
		color: white;
		border-radius: 15px;
		text-align: center;
		padding: 1rem;
		font-weight: 600;
		cursor: pointer;
		overflow: hidden;
		position: relative;

		.ripple {
			background-color: white;
			border-radius: 50%;
			pointer-events: none;
			position: absolute;
			transform: scale(0);
			opacity: 0.3;
		}
		.start {
			transform: scale(0.2);
		}
		.active {
			transform: scale(2);
			transition: transform 1400ms, opacity 1400ms;
			opacity: 0.4;
		}
	}

	.add-order-form-wrapper {
		border-radius: 15px;
		position: absolute;
		background-color: white;
		top: 0;
		left: 0;
		right: 0;
		min-height: calc(100vh - 5rem);
		padding: 0.5rem;
		display: none;
		opacity: 0;
		transition: opacity 0.5s ease, filter 0.5s ease;
		filter: blur(0);

		h3 {
			text-align: center;
			margin-bottom: 1rem;
		}

		.input-wrapper {
			margin-bottom: 1rem;

			.labels {
				display: block;
				font-weight: 600;
				width: 100%;
				margin-bottom: 5px;
				font-size: 1rem;

				span {
					font-weight: 400;
				}
			}

			.input-and-add-new-button {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.add-new-button {
					font-size: 1.5rem;
					padding: 0.25rem;
					cursor: pointer;
					background-color: hsl(168, 35%, 20%);
					color: white;
					border-radius: 3px;
				}
			}
		}

		button {
			height: 47px;
			width: 100%;
			padding: 0.5rem;
			font-size: 1.5rem;
			background-color: hsl(168, 35%, 20%);
			color: white;
			border: 1px solid black;
			border-radius: 15px;
			text-align: center;
			cursor: pointer;
			position: relative;
			overflow: hidden;

			.ripple {
				background-color: white;
				border-radius: 50%;
				pointer-events: none;
				position: absolute;
				transform: scale(0);
				opacity: 0.3;
			}
			.start {
				transform: scale(0.2);
			}
			.active {
				transform: scale(2);
				transition: transform 1400ms, opacity 1400ms;
				opacity: 0.4;
			}
		}

		.fa-times-circle {
			font-size: 1.5rem;
			color: hsl(168, 35%, 20%);
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 10px;
		}

		.fa-times-circle:hover {
			color: hsl(41, 56%, 64%);
		}
	}

	.add-order-form-wrapper::after {
		content: "";
		bottom: -0.5rem;
		height: 0.5rem;
		left: 0;
		right: 0;
		position: absolute;
	}

	.add-order-spinner-wrapper {
		position: absolute;
		bottom: -500%;
		left: 50%;
		transform: translateX(-50%);
	}

	.add-order-notify-creation {
		position: absolute;
		bottom: -500%;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 1.5rem;

		.newly-created-order-id {
			font-size: 2rem;
			color: hsl(168, 35%, 20%);
		}
	}
}
