.item {
	h5 {
		margin-bottom: 0.5rem;
		display: flex;
		align-items: center;
		font-size: 1rem;
	}

	.revenue {
		span {
			color: green;
		}
	}

	.costs {
		h4 {
			font-size: 1rem;
			span {
				color: red;
			}
		}
	}

	.edit-item-input {
		display: inline-block;
		width: 40%;
		text-align: center;
		height: 1.3rem;
		font-size: 1rem;
		border: 1px solid hsl(168, 35%, 20%);
		border-radius: 3px;
		margin-left: 0.5rem;
		-webkit-appearance: none;
	}

	.edit-item-input:focus {
		box-shadow: 0px 0px 0px 2px rgb(103, 103, 248);
		outline: none;
	}

	.edit-item-input-revenue {
		display: inline-block;
		width: 30%;
		text-align: center;
		height: 1.3rem;
		font-size: 1rem;
		border: 1px solid hsl(168, 35%, 20%);
		border-radius: 3px;
		margin-left: 0.5rem;
	}

	.edit-item-input-item-cost {
		display: inline-block;
		width: 40%;
		text-align: center;
		height: 1.3rem;
		font-size: 1rem;
		border: 1px solid hsl(168, 35%, 20%);
		border-radius: 3px;
		margin-left: 0.5rem;
	}

	.save-updated-item {
		margin-left: 1rem;
		cursor: pointer;
		background-color: hsl(168, 35%, 20%);
		color: white;
		padding: 3px;
		font-size: 1rem;
	}

	.cancel-save-updated-item {
		margin-left: 1rem;
		cursor: pointer;
		background-color: hsl(0, 70%, 48%);
		color: white;
		padding: 3px 6px;
		font-size: 1rem;
	}

	.modification-delete-item {
		color: red;
		width: 92px;
		cursor: pointer;
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
		position: relative;
	}

	.delete-confirmation-countdown {
		width: 20px;
		height: 20px;
		background: conic-gradient(#10171e 0deg, #e7bf72 0deg);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: -40%;
		transform: translateY(-50%);
		cursor: auto;

		.delete-confirmation-countdown-inner-circle {
			width: 15px;
			height: 15px;
			background-color: #e7bf72;
			border-radius: 50%;
		}
	}

	:last-child {
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 380px) {
	.item {
		.edit-item-input {
			width: 50%;
		}
	}
}

@media only screen and (min-width: 430px) {
	.item {
		.edit-item-input {
			width: 60%;
		}
	}
}
